body{
    margin: 0;
    padding:0;
    color: white;
    font-family: 'Noto Sans', sans-serif;
}

#container{
    width:100%;
    height: 100vh;
    display: flex;                  
    flex-direction: row;            
    flex-wrap: nowrap;              
    justify-content: space-between;
}

#california{
    float:left;
    width:100%; 
}

#usersLocation{
    margin:0 auto;
    width:100%;
}

#athens{
    float:right;
    width:100%;
}

.container-style{
    background-color: rgba(0,0,0, 0.5);
    height:47%;
    width:57%;
    margin: auto;
    border-radius: 7%;
    border:solid 4px rgba(0,0,0, 0.8);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;

}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    padding:5% 2%;
    height:50px;
    width:4.5vh;
    grid-column: 1/span 2;
    grid-row: 1;
}

.condition{
    font-size: 2.8vh;
    grid-column: 3/span 2;
    grid-row: 1;
    padding-top: 15%;
    padding-right:10px;
}

.vertical-line{
    background-color: white;
    height: 70%;
    width: 1%;
    grid-column: 5/span 1;
    grid-row: 1;
    padding-top: 5%;

    
}

.city{
    font-size: 2.8vh;
    grid-column: 6/span 2;
    grid-row: 1;
    padding-top:10%;
}

.country{
    font-size: 100%;
    grid-column: 9/span 2;
    grid-row: 1;

}

.temperature{
    grid-column: 1/span 6;
    grid-row: 2;
    font-size: 1100%;
    padding-top:20%;
    padding-left: 5%;

}

.temperature-unit{
    grid-column: 7/span ;
    grid-row: 2;
    font-size: 750%;
    padding-left: 5%;
}


